<%- include("partials/header.ejs") %>

<h1>Home</h1>
<p><%= intro %></p>

<a href="/compose" title="Add post" class="btn btn-light btn-md px-4">Add an entry...</a>

<%- include("partials/footer.ejs") %>